<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SciResearchHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/Images/logo.png" />
</head>
<body style="background-color:#EEEEEE;" >
    <div class="jumbotron jumbotron-fluid" style="padding: 0px;background-image: url('Images/banner.png');background-position:center;" >
        <header >
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm ">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index"><img style="width:60px;" src="~/Images/logo.png" /></a>
                    <button class="navbar-toggler align-content-lg-stretch" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-block flex-sm-row-reverse">
                        <ul class="nav ">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">What's an Abstracted Research ?</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown navbar-collapse collapse">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sign Up | Sign In
                        </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Sign In</a>
                            <a class="dropdown-item" href="#">Sign Up</a>

                        </div>
                    </div>

                </div>
            </nav>
        </header>
        <div class="jumbotron jumbotron-fluid bg-transparent" >
            <div class="container">
                <h1 class="display-4" style="color:InfoText">SciResearchHub</h1>
                <p class="lead" style="color:InfoText">Share and Enjoy Abracted Researches in all Scientific Research fields.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid"> 
        <main role="main" class="pb-lg-4">
            <ul class="nav nav-tabs">
                <li class="nav-item cat">
                    <a class="nav-link category BiologyButton open" style="color:darkslategray">Biology</a>
                </li>
                <li class="nav-item cat">
                    <a class="nav-link category Med" style="color:darkslategray">Medicine</a>
                </li>
                <li class="nav-item cat">
                    <a class="nav-link category Compu" style="color:darkslategray">computer Science</a>
                </li>
            </ul>
            <ul class="nav nav-tabs">
                <li class="nav-item " >
                    <a class="nav-link Biologycat ZoologyButton open Medicinecat" style="display:none;">Zoology</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link Biologycat MicrobiologyButton"  style="display:none;">Microbiology</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link Biologycat AnatomyButton " style="display:none;">Anatomy</a>
                </li>
            </ul>
            <ul class="nav nav-tabs" style="display:none;">
                <li class="nav-item ">
                    <a class="nav-link Medicinecat Anesthesiology open" style="color:darkslategray">Anesthesiology</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link Medicinecat Dermatology " style="color:darkslategray">Dermatology</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link Medicinecat " style="color:darkslategray">computer Science</a>
                </li>
            </ul>
            <ul class="nav nav-tabs" style="display:none;">
                <li class="nav-item ">
                    <a class="nav-link category open" style="color:darkslategray">Biology</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link category " style="color:darkslategray">Medicine</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link category Compu" style="color:darkslategray">computer Science</a>
                </li>
            </ul>
            <div class="catresult">

                <div class="row d-flex justify-content-around">
                    @RenderBody()
                </div>

            </div>
        </main>
    </div>
    <div class="jumbotron jumbotron-fluid" >
        <div class="container">
            <!-- Search form -->
            <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                       aria-label="Search">
                <i class="fas fa-search" aria-hidden="true"></i>
            </form>
        </div>
    </div>
    <footer class="border-top footer text-muted " style=" background-color: #fbd46d;">
        <div class="container">
            &copy; 2020 - SciResearchHub - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
