@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{var i = 0; }
@foreach (var Research in Model.Researches)
{
        <div class="col-sm-4">
            <img class="card-img-top" src="@Research.link" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Research.title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        i++;

        }
