@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@foreach (var Research in Model.researches)
{ 
<div class="card @Research.Domain" style="width: 18rem; display:none">
  <img class="card-img-top" src="@Research.Imglink " alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Research.Title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   <a href="@Research.Link" class="card-link">Card link</a>
  </div>
</div>
}
