@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@foreach (var Research in Model.researches)
{ 
<div class="card @Research.Domain shadow p-3 mb-5 bg-white rounded" style="width: 18rem; display:none">
    <a href="@Research.Link" class="card-link">
        <img class="card-img-top" src="@Research.Imglink " alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-dark">@Research.Title</h5>
            <p class="card-text"></p>
            
        </div>

    </a>
</div>
}
